@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Karantina";
  src: url("/fonts/Karantina/Karantina-Bold.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  @apply text-4xl sm:text-7xl;
  font-family: "Karantina", sans-serif;
}

.header {
  font-family: "Karantina", sans-serif;

}


.btn {
  @apply bg-primary-dark hover:bg-primary text-white text-lg sm:text-2xl;
  font-family: "Karantina", sans-serif;
	
}
